*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333;
}

/*--------------------------------------------------*/
/*						DEFAULT						*/
/*--------------------------------------------------*/

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

p,a{
	margin: 7px 0;
}

html{
	background: #EAEAEA;
}

img{
	width : 100%;
}

form label img{
	width: 35px;
}

input{
	display: block;
	border-radius: 5px;
	padding: 10px;
	background: #FFFFFF;
	border: 3px solid #DDD;
	margin: 10px 0;
	width: 300px;
}

input[type=submit]{
	background: #CCCCCC;
	border: 1px solid #ADADAD;
	width: auto;
}

.icon{
	width: 21px;
	height: 100%;
}

.box{
	background: #FFFFFF;
	border: 1px solid #DDD;
	box-shadow: 0 0 5px #DDD;
	margin: 20px;
	padding-bottom: 10px;
}

.error-message{
	background: #FF8080;
	border: 1px solid red;
	border-radius: 3px;
	padding: 10px;
	margin: 10px 0;
	color: #FFF;
}


/*--------------------------------------------------*/
/*						HEADER						*/
/*--------------------------------------------------*/

.princ_header{
	background: #333;
	color: #FFF;
	padding: 20px;
	text-align: center;
}

.princ_header h1{
	color: #FFF;
}

/*------------Hamburger-----------------*/
.princ_header .menu .hamburger{
    width: 100%;
}

.princ_header .menu .hamburger .menu-icon{
	position: relative; 
    height: 54px; 
    border-radius: 50%;
    transition: transform 0.5s; 
}

.princ_header .menu .hamburger .deroul-menu{
	display: none;
}

.princ_header .menu .hamburger .menu-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 

    display: block;
    width: 22px;
    height: 2px;

    background-color: #FFF;

    transition: background 0.5s;
}

.princ_header .menu .hamburger .menu-icon span::before, 
.princ_header .menu .hamburger .menu-icon span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-6px);

    display: block;
    width: 22px;
    height: 2px;

    background-color: #FFF;

    transition: transform 0.5s;
}

.princ_header .menu .hamburger .menu-icon span::after {
    transform: translateY(6px); 
}

.princ_header .menu .hamburger:hover .deroul-menu{
	display: block;
	width: 100%;
}

.princ_header .menu .hamburger,
.princ_header .menu .hamburger li{
	display: block;
	list-style: none;
	transition: ease 0.2s all;
}

.princ_header .menu .hamburger li:hover{
	background: #666;
	transition: ease 0.2s all;
}

.princ_header .menu .hamburger a{
	display: block;
	padding: 7px;
	margin:0;
	color: #FFF;
	text-decoration: none;
}
/*------------end Hamburger---------------*/

/*--------------------------------------------------*/
/*						COLUMN						*/
/*--------------------------------------------------*/

.about .pp{
	height: 100px;
	overflow: hidden;
}

.about .pp img{
	position: relative;
	bottom: 60px;
}

.about .user-info h2::before{
	content: url('../img/user20.png');
	margin-right: 20px;
	width: 20px;
}


.find-me .box-content ul{
	margin-top: 10px;
}

.find-me .box-content ul li{
	list-style: none;
	display: inline;
	vertical-align: middle;
	margin: 5px;
}

.find-me .box-content ul li img{
	width: 40px;
	opacity: 0.5;
	filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
	transition: ease 0.3s opacity;
}

.find-me .box-content ul li:hover img{
	opacity: 1;
	filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
	transition: ease 0.3s opacity;
}


/*--------------------------------------------------*/
/*						FOOTER						*/
/*--------------------------------------------------*/
	
.princ_footer{
	background: #333;
	padding: 10px;
	text-align: center;
}

.princ_footer p{
	color: #FFF;
}

/*--------------------------------------------------*/
/*						ARTICLES					*/
/*--------------------------------------------------*/

.box-content{
	padding: 20px;
}

.article{
	max-width: 800px;
}

.article .article-content{
	padding: 30px;
}

.article .article-content .article-info{
	display: flex;
	flex-direction: row;
	width: 400px;
	font-style: italic;
	color: #888;
}

.article .article-content .article-info .article-date::before{
	content: url('../img/write20.png');
	margin-right: 10px;
}

.article .article-content .article-text{
	padding-bottom: 20px;
}

.article .article-content .article-link{
	background: #D7D7D7;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 10px;

	color: #333;
	text-decoration: none;
	transition: ease 0.2s box-shadow;
}

.article .article-content .article-link:hover{
	box-shadow: 0 0 6px #CCC inset;
	transition: ease 0.2s box-shadow;
}

.article .article-content .article-link:active{
	border: none;
	background: #FFA500;
	color: #FFFFFF;
}

.article p{
	color: #555;
}

/*--------------------------------------------------*/
/*						FORMS						*/
/*--------------------------------------------------*/

.login-form .box-content{
	text-align: center;
	display: flex;
	flex-direction: column;
}

.login-form .box-content form input{
	margin: 10px auto;
	text-align: center;
}

.login-form .box-content form input[type=text],
.login-form .box-content form input[type=password]{
	width: 80%;
	max-width: 300px;
}

.login-form .box-content .shield{
	display: none;
	width: 200px;
}

/*--------------------------------------------------*/
/*						TABLETTES					*/
/*--------------------------------------------------*/

@media screen and (min-width: 700px){

	.princ_main{
		display: flex;
		flex-direction: row;
	}

	.void{
		max-width: 20px;
		min-width: 20px;
		width: 20px;
	}

	.column{
		flex: 1;
		max-width: 400px;
	}

	.content{
		flex: 2;
	}
}

/*--------------------------------------------------*/
/*							PC						*/
/*--------------------------------------------------*/

@media screen and (min-width: 960px){


	/*---------------HEADER-------------*/

	.princ_header{
		text-align: left;
		padding: 0;
	}

	.princ_header .header_content,
	.princ_header .menu .menu_content{
		width: 80%;
		max-width: 1280px;
		margin: auto;
	}

	.princ_header h1{
		flex:1;
		padding: 15px;
	}

	.princ_header .menu{
		flex: 1;
		align-items: flex-end;
		background: #444;
	}

	.princ_header .menu .hamburger a{
		padding: 15px;
		padding-bottom: 11px;
		border-bottom: 4px solid #444;
		transition: ease 0.2s border;
	}

	.princ_header .menu .hamburger a:hover{
		border-bottom: 4px solid #FFA500;
		color: #FFA500;
		padding-bottom: 11px;
		background: none;
		transition: ease 0.2s border;
	}

	.princ_header .menu .hamburger li:hover{
		background: none;
	}

	.princ_header .menu .hamburger .menu-icon{
		display: none;
	}

	.princ_header .menu .hamburger .deroul-menu{
		display: flex;
		flex-direction: row;
	}

	.princ_header .menu .hamburger:hover .deroul-menu{
		display: flex;
		flex-direction: row;
	}

	.princ_header .menu .hamburger:hover .deroul-menu li{
		vertical-align: middle;
	}

	/*---------------MAIN-------------*/

	.princ_main{
		width: 80%;
		max-width: 1280px;
		margin: auto;
	}

	/*---------------FORM-------------*/
	
	.login-form .box-content{
		text-align: left;
		display: flex;
		flex-direction: row;
	}

	.login-form .box-content .form{
		flex: 1;
	}

	.login-form .box-content .shield{
		display: flex;
		width: 200px;
		margin-right: 30px;
	}

	.login-form .box-content form input{
		margin: 10px 0;
		text-align: left;
	}
}